.expo/
dist/
/ios/*
!/ios/TerminalX/
/ios/TerminalX/*
!/ios/TerminalX/Images.xcassets/
/ios/TerminalX/Images.xcassets/*
!/ios/TerminalX/Images.xcassets/AppIcon.appiconset/
*.jks
*.mobileprovision
*.p8
*.p12
*.key
*.cer
